<div class="fb-grid__container">
  <div class="content-container">
    <div class="fb-grid__row post-title">
      <div class="fb-grid__col-12">
        <h1 id="post-title"></h1>
      </div>
    </div>
    <div class="fb-grid__row">
      <div class="fb-grid__col-12 post-content">

      </div>
    </div>
    <div class="fb-grid__row post-footer">
      <div class="fb-grid__col-12">
        <ul class="counters counters-big">
          <li><i class="fas fa-heart like heart"><span class="counter-number" id="likes-count"></span></i></li>
          <li><i class="fas fa-comment comment"><span class="counter-number" id="comments-count"></span></i></li>
        </ul>
        <span class="message-update">

        </span>
      </div>
    </div>
  </div>
  <div class="fb-grid__col-12 authors">

  </div>
</div>