<div class="fb-grid__container">
  <div class="content-container">
    <div class="fb-grid__row contact-content">
      <h1 class='title__contact'></h1>
        <div class="adress"></div>
    </div>
  </div>
  <div class="socialMediaLinksContact">
    <a href="https://www.facebook.com/GrafischeendigitalemediaArteveldehogeschool/" target="_blank" class="facebook-btn"><i class="fab fa-facebook fa-5x" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/explore/locations/487127602/grafische-en-digitale-media-arteveldehogeschool/" target="_blank" class="instagram-btn"><i class="fab fa-instagram fa-5x" aria-hidden="true"></i></a>
    <a href="https://twitter.com/arteveldegdm" target="_blank" class="twitter-btn"><i class="fab fa-twitter-square fa-5x" aria-hidden="true"></i></a>
  </div>  
</div>