<main>
  <div class='fb-grid__container'>
    <div class='fb-grid__row'>
      <div class='fb-grid__col-12'>
        <h2>Blog</h2>
      </div>
    </div>
    <div class="fb-grid__row posts-container">

    </div>
    <div class='fb-grid__row'>
      <div class='fb-grid__col-12'>
        <h2>Projects</h2>
      </div>
    </div>
    <div class='fb-grid__row projects-container'>

    </div>
  </div>
</main>