<div class="fb-grid__container">
  <div class="content-container">
    <div class="fb-grid__row">
      <div class="fb-grid__col-12">
        <div class="searchedUser"></div>
      </div>
    </div>
  </div>
  <div class="followerBtn"></div>
</div>